<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

          <script type="text/javascript">
            function sendDataForEcommerceYandexMetrica(options) {
              let id = options.id; // required
              let event = options.event; // required
              let id_type = (typeof(options.id_type) != 'undefined' ? options.id_type : 'product_id');
              let quantity = (typeof(options.quantity) != 'undefined' ? options.quantity : 'null');
              let async = (typeof(options.async) != 'undefined' ? options.async : true);

              $.ajax({
                url: 'index.php?route=product/product/getProductDataForYandexMetrica',
                async: (typeof(async) != 'undefined' ? async : true),
                type: 'post',
                data: 'id=' + id + '&event=' + event + '&id_type=' + id_type + '&quantity=' + quantity,
                dataType: 'json',
                success: function(json) {
                  if (event == 'add') {
                    dataLayer.push({"ecommerce": {"currencyCode": json['currency_code'], "add": {"products": [json['product']]}}});
                  } else if (event == 'remove') {
                    dataLayer.push({"ecommerce": {"currencyCode": json['currency_code'], "remove": {"products": [json['product']]}}});
                  }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                  alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
              });
            }

            cart['add_original'] = cart['add'];
            cart['add'] = function(product_id, quantity) {
              sendDataForEcommerceYandexMetrica({
                id: product_id,
                event: 'add',
                id_type: 'product_id',
                quantity: quantity
              });
              cart.add_original(product_id, quantity);
            };

            cart['remove_original'] = cart['remove'];
            cart['remove'] = function(key) {
              sendDataForEcommerceYandexMetrica({
                id: key,
                event: 'remove',
                id_type: 'key',
                async: false
              });
              setTimeout(function() {
                cart.remove_original(key);
              }, 500);
            };
          </script>
        
</body></html>