<div class="section__title--wrapped"><p class="section__title">{{ heading_title }}</p><!-- blog_latest --></div>
<div class="row list-row">
  {% for article in articles %}
  <div class="list-item__col col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="blog-thumb">
      <div class="thumb__image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}" title="{{ article.name }}" class="img-responsive" /></a></div>      
      <div class="blog-thumb__info">
        <a class="blog-thumb__title" href="{{ article.href }}">{{ article.name }}</a>
        <p class="blog-thumb__description">{{ article.description }}</p>
        {% if article.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if article.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="blog-thumb__meta">
        <span class="blog-thumb-meta__label"><i class="fa fa-calendar"></i></span> <span class="blog-thumb-meta__value">{{ article.date_added }}</span>
        /
        <span class="blog-thumb-meta__label"><i class="fa fa-eye"></i></span> {{ text_views }} <span class="blog-thumb-meta__value">{{ article.viewed }}</span>
      </div>
      <a href="{{ article.href }}" class="blog-thumb__more">{{ button_more }} →</a>
    </div>
  </div>
  {% endfor %}
</div>
