{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if categories %}
      <p class="h4">{{ text_refine }}</p>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br/>
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row">
        <div class="col-md-2 col-sm-6 hidden-xs">
          <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="form-group"><a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a></div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-md">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              {% else %}
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="form-group input-group input-group-md">
            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
            <select id="input-limit" class="form-control" onchange="location = this.value;">
              {% for limits in limits %}
              {% if limits.value == limit %}
              <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
              {% else %}
              <option value="{{ limits.href }}">{{ limits.text }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row list-row">
        {% for product in products %}
        <div class="list-item__col {% if nice.productlist_grid_hover_effect %}grid-hover-effect{% endif %} product-grid col-md-4 col-sm-6 {% if '1' == nice.productlist_cols_on_mobile %}col-xs-12{% else %}col-xs-6{% endif %}">
          <div class="thumb-hover-1 product-thumb transition">
            <div class="product-thumb__image {% if nice.productlist_image_margins %}-has-margins{% endif %}"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="product-thumb__info">
              {% if product.rating %}
              <div class="product-thumb__rating">
                {% for i in 1..5 %}
                {% if product.rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>{% endif %}
                {% endfor %}
              </div>
              {% endif %}
              <a class="product-thumb__name {% if 'bold' == nice.productlist_name_font_weight %}-bold-sm{% endif %}" href="{{ product.href }}">{{ product.name }}</a>
              {% if nice.productlist_description %}<p class="product-thumb__description {% if not nice.productlist_description_on_mobile %}hidden-xs hidden-sm{% endif %}">{{ product.description }}</p>{% endif %}

			<div class="options">
			   {% if (product['options']) %} 
			   <div id="option_{{ product['product_id'] }}">
			      {% for option in product['options'] %} 
			      {% if (option['type'] == 'select') %} 
			      <div id="option-{{ option['product_option_id'] }}" class="option">
			         {% if (option['required']) %}*{% endif %} <label>{{ option['name'] }}:</label><br />
			         <select name="option[{{ option['product_option_id'] }}]" onchange="recalc({{ product['product_id'] }});" class="form-control">
			            <option value="" price_prefix="" price="">{{ text_select }}</option>
			            {% for option_value in option['product_option_value'] %} 
			            <option value="{{ option_value['product_option_value_id'] }}" price_prefix="{{ option_value['price_prefix'] }}" price="{{ option_value['price'] }}">{{ option_value['name'] }} {% if (option_value['price']) %}({{ option_value['price_prefix'] }}{{ option_value['price'] }}){% endif %}</option>
			            {% endfor %} 
			         </select>
			      </div>
			      {% endif %} 
			      {% if (option['type'] == 'radio') %} 
			      <div id="option-{{ option['product_option_id'] }}" class="option">
			         {% if (option['required']) %}*{% endif %} <label>{{ option['name'] }}:</label><br />
			         {% for option_value in option['product_option_value'] %}
			         <input type="radio" price_prefix="{{ option_value['price_prefix'] }}" price="{{ option_value['price'] }}" onchange="recalc({{ product['product_id'] }});" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="option-value-{{ option_value['product_option_value_id'] }}" />
			         <label for="option-value-{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}</label><br />
			         {% endfor %}
			      </div>
			      {% endif %} 
			      {% if (option['type'] == 'checkbox') %} 
			      <div id="option-{{ option['product_option_id'] }}" class="option">
			         {% if (option['required']) %}*{% endif %} <label>{{ option['name'] }}:</label><br />
			         {% for option_value in option['product_option_value'] %} 
			         <input type="checkbox" price_prefix="{{ option_value['price_prefix'] }}" price="{{ option_value['price'] }}" onchange="recalc({{ product['product_id'] }});" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="option-value-{{ option_value['product_option_value_id'] }}" />
			         <label for="option-value-{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} {% if (option_value['price']) %}({{ option_value['price_prefix'] }}{{ option_value['price'] }}){% endif %}</label><br />
			         {% endfor %} 
			      </div>
			      {% endif %} 
			      {% endfor %} 
			   </div>
			   {% endif %} 
			</div>
			
              {% if product.price %}
              <div class="price">
                {% if not product.special %}
                <span class="price-value {% if 'bold' == nice.productlist_price_font_weight %}-bold{% endif %}"><span class="price_no_format{{ product.product_id }}" price="{{ product.price_no_format }}">{{ product.price }}</span> </span>
                {% else %}
                <span class="price-old"><span class="price_no_format{{ product.product_id }}" price="{{ product.price_no_format }}">{{ product.price }}</span> </span><span class="price-new"><span class="special_no_format{{ product.product_id }}" price="{{ product.special_no_format }}">{{ product.special }}</span></span>
                {% endif %}
                {% if product.tax %}
                <div  class="price-tax">{{ text_tax }} {{ product.tax }}</div>
                {% endif %}
              </div>
              {% endif %}
              <div class="product-thumb__hidden-wrapper">
                <button type="button" class="btn btn-accent product-thumb__button-buy -grid-hover-effect-hidden" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><i class="fa fa-shopping-cart"></i> <span class="">{{ button_cart }}</span></button>
                
                <!--<div class="product-thumb__compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></div> (иконка сравнения в карточке)-->
                
                <div class="product-thumb__wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
        
      {% if thumb or description %}
      <hr>
      <div class="row"> {% if thumb %}
        <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      
      {% endif %}
        
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<!--microrazmetka -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {% for product in products %}
    {
      "@type": "ListItem",
      "position": {{ loop.index }},
      "url": "{{ product.href }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
<!--microrazmetka -->


			<script>
			function price_format(n){ 	
				c = {{ currency['decimals'] is empty ? "0" : currency['decimals'] }};
				d = '{{ currency['decimal_point'] }}';
				t = '{{ currency['thousand_point'] }}';
				s_left = '{{ currency['symbol_left'] }}';
				s_right = '{{ currency['symbol_right'] }}';
				n = n * {{ currency['value'] }};
				i = parseInt(n = Math.abs(n).toFixed(c)) + ''; 
				j = ((j = i.length) > 3) ? j % 3 : 0; 
				return s_left + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '') + s_right; 
			}
			</script>
			<style>.options {min-height:54px;}</style>
			
{{ footer }} 
